body{
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
}

ul, li, a{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

.header, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
    min-height: 100px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    font-size: 24px;
    font-weight: 900;
}

.section{
    min-height: 350px;
}

.one{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-evenly;
    align-items: center;
}

.two{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    background-color: white;
    color:#1F2937;
}

.three{
    background-color: #e5e7eb;
    color:#1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.four{
    background-color: white;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 225px;
    width: auto;
    object-fit: scale-down;
    margin: 16px;
    border-radius: 15px;
}

.dialog{
    margin: 20px;
    width: 400px;
}

.quote{
    text-wrap: wrap;
    width: 900px;
    font-size: 36px;
    font-weight: 200;
    padding: 50px;
}

.cardsection{
    display: flex;
    margin: 16px;
}

.grouping{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-content: center;
    flex: 1;
    margin: 16px;
}

.text{
    display: flex;
    align-content: center;
    justify-content: center;
}

h1{
    font-size: 36px;
}
 .backdrop{
    background-color: #3882f6;
    display: flex;
    border-radius: 15px;
    padding: 25px 50px;
    justify-content: space-between;
    gap: 45px;
}

span{
    align-content: center;
}
button{
    height: 35px;
    width: 100px;
    background-color: transparent;
    border-radius: 15px;
    color: white;
    font-size: 16px;
}